* {
  box-sizing: border-box;
  background-color: black;
  color: white;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  height: 100%;
  padding: 20px 0;
  border-bottom: 1px solid gray;
}

.auth {
  display: flex;
  justify-content: space-between;
}

.filter-bar {
  padding: 20px 0;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin: 0 10px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.logo {
  height: 120px;
  margin: 20px 0;
}

.navBar {
  display: flex;
  gap: 10px;
}

.display-cards {
  display: flex;
  flex-wrap: wrap;
}

.card-container {
  width: 230px;
  height: 460px;
  margin: 15px 5px;
  padding: 5px;
  transition: 0.2s ease;
  border-bottom: 1px solid red;
  overflow: auto;
}

.card-container:hover {
  opacity: 0.5;
  scale: 1.1;
}

.chara-pic {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  margin: 30px 0;
}
.chara-detail {
  display: flex;
  flex-direction: column;

  height: 50px;
}
.noUnderline {
  text-decoration: none;
}
.pagination {
  margin: 20px 0;
}

.main-container {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-Character {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid red;
}

.character-pic {
  max-width: 400px;
  margin: 20px 0;
}

.comic-pic {
  max-width: 10vw;

  object-fit: cover;
  object-position: center;
  /* flex: 1;
  flex-shrink: 0; */
}

.comic-pic:hover {
  opacity: 0.5;
  scale: 1.1;
}

.carrousel {
  display: flex;
  overflow-y: scroll;
  flex-wrap: nowrap;
  flex: 1;
  flex-shrink: 0;
  gap: 5px;
}

.separation {
  margin: 20px 0;
}

.container-form {
  width: 50vw;
  margin: 5% auto;
}

#range {
  margin: 0 20px;
}

.favoris-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 0;
}

.container-favoris {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0;
}

.photo-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.photo-favoris {
  height: 300px;
  border-bottom: 1px solid red;
}
.photo-favoris:hover {
  opacity: 0.5;
  scale: 1.1;
}

.pagina {
  background-color: white !important ;
}
